{% block header %}
    <header class="header-section">
        <div class="header-top bg-theme">
            <div class="container">
                <div class="header-top-area">
                    <ul class="left">
                        <li>
                            <i class="icofont-ui-call"></i> <span>+800-123-4567 6587</span>
                        </li>
                        <li>
                            <i class="icofont-location-pin"></i> Beverley, New York 224 USA
                        </li>
                    </ul>
                    <ul class="social-icons d-flex align-items-center">
                        <li>
                            <p>
                                Find us on :
                            </p>
                        </li>
                        <li>
                            <a href="#" class="fb"><i class="icofont-facebook-messenger"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                        </li>
                        <li>
                            <a href="#" class="skype"><i class="icofont-skype"></i></a>
                        </li>
                        <li>
                            <a href="#" class="rss"><i class="icofont-rss-feed"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom bg-primary">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="{{ path('app_home') }}">
                            <img src="/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu-area">
                        <ul class="menu">

                            {% for category in categories %}
                            
                            <li>
                                <a href="{{ path(category.Slug) }}" class="active">{{ category.Name }}</a>
                            </li>

                            {% endfor %}
                        </ul>
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class=""><i class="icofont-users"></i> <span>{% trans %}Deconnection{% endtrans %}</span> </a>
                        {% else %}
                            <a href="#0" class="login"><i class="icofont-user"></i> <span>{% trans %}Connection{% endtrans %}</span> </a>
                            <a href="#" class="signup"><i class="icofont-users"></i> <span>{% trans %}S'enregistré{% endtrans %}</span> </a>
                        {% endif %}


                        <div class="header-bar d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="ellepsis-bar d-lg-none">
                            <i class="icofont-info-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}