{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="page-header-section style-1 bgimg" style="background-image: url(assets/images/bg-img/pageheader.jpg);">
        <div class="container">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title">
                        <h2>login Page</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">login</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="login-section padding-tb">
        <div class="container">
            <div class="account-wrapper">
                <h3 class="title">login</h3>
                <form method="post" class="account-form"> 
                    <div class="form-group">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <button class="d-block lab-btn"><span>Get Started Now</span></button>
                    </div>
                 </form>

                <div class="account-bottom">
                    <span class="d-block cate pt-10">Are you a member? <a href="{{ path('app_login') }}">Login</a></span>
                    <span class="or"><span>or</span></span>
                    <h5 class="subtitle">Register With Social Media</h5>
                    <ul class="social-media social-color justify-content-center d-flex lab-ul">
                        <li>
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" class="pinterest"><i class="icofont-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
