                                                <div class="widget search-widget">
                                                    <div class="widget-inner">
                                                        <div class="widget-title">
                                                            <h5>{% trans %}Navigation{% endtrans %}</h5>
                                                        </div>
                                                        <div>
                                                            <ul class="widget-title">
                                                                <li><a href="#">{% trans %}Message{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Mes femme favorite{% endtrans %}</a></li>
                                                                <li><a href="{{ path('customer_profile') }}">{% trans %}Mon profile{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Rencontre{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Cadeaux{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Lire les FAQ{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Achat de crédit{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Soirée de rencontres{% endtrans %}</a></li>
                                                                <li><a href="#">{% trans %}Crédit dispobible{% endtrans %}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>